.pops{
    /* background-image: url('https://th.bing.com/th/id/R.5a7e74c800c9cc6379ed05f47b6e0820?rik=xxY5RMqEgogoGA&riu=http%3a%2f%2fwww.zastavki.com%2fpictures%2foriginals%2f2015%2fGirls_Girl_sitting_at_the_piano_in_the_street_101201_.jpg&ehk=xiTucm2%2f06Pu5olrkJ%2bPR%2fAH8bHnEGZnE5PKBhgOtxo%3d&risl=&pid=ImgRaw&r=0'); */
    background-image: url('https://img1.goodfon.com/wallpaper/nbig/5/9f/pianino-svet-ten.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-color: black;
}

.pops h1{
    /* font-family: 'Dawning of a New Day', cursive; */
}

.poora-popu{

}